<!DOCTYPE html>
<html>
    
  <head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Form Page</title>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">LTO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/landingpage">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>

          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <main role="main" class="container">
        
    <div class="starter-template">
    <h1> LOVE (Licensing Of Vehicle for Everyone)</h1></div>
      <div class="container">
      <form action="/user_records" method="POST" class="form-group">


        <div class="form-group">
            <label for="presentaddresss">Enter your Present Address: </label>
            <input type="text" name="presentaddresss" id="presentaddresss" required>
        </div>

        <div class="form-group">
            <label for="tin"> TIN </label>
            <input type="text" name="tin" id="tin" >
        </div>

        <div class="form-group">
            <label for="nationality"> Nationality </label>
            <input type="text" name="tin" id="tin" required>
        </div>
  
        <div class="form-group">
            <label for="Sex">Sex</label>
             <input list="Sx" id="Sex" name="Sex" />
   
             <datalist id="Sx">
                 <option value="Male">
                 <option value="Female">
            </datalist>
        </div>

        <div class="form-group">
            <div class="form-group">
                <label for="birthdate"> Birth date </label>
                <input type="date" name="birthdate" id="birthdate" required>
            </div>

        <div class="form-group">
            <div class="form-group">
                 <label for="Height"> Height</label>
                <input type="text" name="height" id="height" >
            </div>

        <div class="form-group">
            <div class="form-group">
                <label for="Weight"> Weight</label>
                <input type="text" name="weight" id="weight" >
            </div>

        <div class="form-group">
            <div class="form-group">
                <label for="License no."> License Number</label>
                <input type="text" name="licensenumber" id="licensenumber" required>
            </div>

        <div class="form-group">
            <label for="LCA">License Classification Applied for (LCA):</label>
            <input list="License Classification" id="LCA" name="LCA" />

        <datalist id="License Classification">
             <option value="STUDENT-DRIVER'S
             PERMIT (SP)">
             <option value="DRIVER'S LICENSE (DL)">
             <option value="CONDUCTOR'S
             LICENSCE (CL)">
        </datalist>

        </div>

        <div class="form-group">
        <label for="EA">Highest Educational Attainment (EA):</label>
        <input list="Educational Attainment" id="EA" name="EA" />

     <datalist id="Educational Attainment">
         <option value="PostGraduate)">
         <option value="College">
         <option value="High School">
         <option value="Elementary">
     </datalist>
     </div>


 <div class="form-group">
        <label for="CivilStatus">CivilStatus:</label>
        <input list="CivilStatus" id="CS" name="CS" />
        
     <datalist id="CivilStatus">
         <option value="Single">
         <option value="Married">
         <option value="Widowed">
         <option value="Separated">
     </datalist>
     </div>
  
    <div class="form-group">
        <label for="BloodType"> BloodType: </label>
        <input type="text" name="BloodType" id="BloodType" >
    </div>

    <div class="form-group">
      <div class="form-group">
          <label for="FatherName"> Father's Name: </label>
          <input type="text" name="FatherName" id="FatherName">
      </div>

      <div class="form-group">
        <div class="form-group">
            <label for="MotherName"> Mother's Name: </label>
            <input type="text" name="MotherName" id="MotherName">
        </div>

        <div class="form-group">
          <div class="form-group">
              <label for="SpouseName"> Spouse Name: </label>
              <input type="text" name=" SpouseName" id=" SpouseName">
          </div>
          
          <div class="form-group">
            <div class="form-group">
                <label for="Employer"> Employer's Business Name </label>
                <input type="text" name="Employer" id="Employer">
            </div>

            <div class="form-group">
              <div class="form-group">
                  <label for="Employer"> Employer's Business Name </label>
                  <input type="text" name="Employer" id="Employer">
              </div>

              <div class="form-group">
                <div class="form-group">
                    <label for="EmContact"> Emergency Contact Person </label>
                    <input type="text" name="EmContact" id="EmContact" required>
                </div>

                <div class="form-group">
                  <div class="form-group">
                      <label for="EmContact"> Emergency Contact Number</label>
                      <input type="text" name="EmContact" id="EmContact" required> 
                  </div>
  
            
                  <div class="form-group">
                    <div class="form-group">
                        <label for="EmAdd"> Emergency Contact Address</label>
                        <input type="text" name="EmAdd" id="EmAdd" required>
                    </div>

                    <div class="form-group">
                      <label for="TOA"> Type of Application</label>
                      <input list="TOA" id="toa" name="toa" />
                
                     <datalist id="TOA">
                      <option value="New">
                      <option value="Renewal">
                      <option value="Conversion of Foreign DL">
                      <option value="Additional Code or Category">
                      <option value="Change of DL Classification">
                          <option value="Expired DL with valid FDL">
                            <option value="Duplicate">
                              <option value="Dropping of Category or Add'l or removal of driving conditions"></option>
                            <option value= "Change Address" > 
                          <option value= "Change of Civil Status">
                        <option value= "Change Name">
                      <option value= "Enhancement of DL">
                    <option value= "Change of Clutch Type">
                     </datalist>
                      </div>


                      <div class="form-group">
                        <label for="VWC"> Vehicle Weight Category</label>
                        <input list="VWC" id="vehicleweight" name="vehicleweight" />
                  
                       <datalist id="VWC">
                       <option value="Light">
                        <option value="Heavy">
                        </datalist>
                    </div>
                     
                    <div class="form-group">
                          <label for="VWCA"> Vehicle Category Light A </label>
                          <input type="checkbox" id="vehicle1" name="vehicle1" value="L2 SV Motorcycle">
                          <label for="vehicle1"> L2 SV Motorcycle</label><br>
                          <input type="checkbox" id="vehicle2" name="vehicle2" value="L1 Non Pro Motorcycle">
                          <label for="vehicle2"> Non Pro L1 Motorcycle</label><br>
                          <input type="checkbox" id="vehicle3" name="vehicle3" value="L2 Non Pro Motorcycle">
                          <label for="vehicle3"> Non Pro L2 Motorcycle</label><br>
                          <input type="checkbox" id="vehicle4" name="vehicle3" value="L3 Non Pro Motorcycle">
                          <label for="vehicle3"> Non Pro L3 Motorcycle</label><br>

                      </div>

                      <div class="form-group">
                        <label for="VWCB"> Vehicle Category Light B</label>
                        <input type="checkbox" id="vehicle5" name="vehicle1" value="M1 Vehicle SV">
                        <label for="vehicle1"> M1 Vehicles SV </label><br>
                        <input type="checkbox" id="vehicle6" name="vehicle1" value="M1 Vehicle Non Pro">
                        <label for="vehicle1"> M1 Vehicles Non Pro</label><br>
                        <input type="checkbox" id="vehicle7" name="vehicle1" value="M1 Vehicle Pro">
                        <label for="vehicle1"> M1 Vehicles Pro</label><br>
                        <input type="checkbox" id="vehicle8" name="vehicle1" value="M1 Vehicle AT">
                        <label for="vehicle1"> M1 Vehicles AT</label><br>
                        <input type="checkbox" id="vehicle9" name="vehicle1" value="M1 Vehicle MT">
                        <label for="vehicle1"> M1 Vehicles MT</label><br>
                    </div>


    
                

          


    </div>

        
     <a href="/landingpage"><button type="submit" class="btn btn-default">Submit</button>
        </a>
      </form>

    
   
    </div>

</main>
  </body>

</html>